.basket {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .basket__header{
    width: 100%;
    background-color: #3c4225;
    color: #D8D9D2;
    display: flex;
    flex-direction: column;

    .basket__title {
      padding: 16px;
      margin: 0;
    }
  }

  .basket__list {
    background-color: #727E48;
    overflow: auto;
    max-height: calc(100vh - 82px - 100px);

    @media screen and (max-width: 576px) {
      height: 100vh;
      max-height: calc(100vh - 50px - 100px);
      width: 100%;
    }

    .basket__item {
      margin-bottom: 12px;
      padding: 16px;

      &:not(:first-child){
        border-top: #D8D9D2 1px dashed;
      }

      .basket__item-name {
        margin-bottom: 8px;
        color: #D8D9D2;
      }

      .basket__count {
        display: flex;
        flex-wrap: nowrap;

        .basket-count-button {
          width: 100%;

          &.button-disabled {
            background-color: #D8D9D2;
          }
        }
      }
    }
  }

  .basket__footer {
    width: 100%;

    .mat-button-base {
      width: 100%;
    }
  }
}
