<div class="container">
  <form class="form" [formGroup]="form">
    <div class="form__title mat-h2 mat-title">
      Добавить новый рецепт
    </div>

    <div class="form__field form__field--margin">
      <label class="mat-h3">Тип рецепта</label>
      <mat-radio-group formControlName="type" class="form__radio-group">
        <mat-radio-button color="primary" class="form__radio-option" *ngFor="let recipe of recipeTypes" [value]="recipe.value">
          {{recipe.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="form__field">
      <label class="mat-h3">Рейтинг</label>
      <mat-radio-group formControlName="rating" class="form__radio-group">
        <mat-radio-button color="primary" class="form__radio-option" *ngFor="let rating of ratings" [value]="rating">
          <mat-icon *ngFor="let star of stars(rating)">star</mat-icon>
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field appearance="outline"
                    class="form__field"
                    [hideRequiredMarker]="false"
                    [floatLabel]="'auto'">
      <mat-label>Название рецепта</mat-label>
      <input formControlName="name" matInput placeholder="Введите название рецепта">
      <mat-error>Название обязательно</mat-error>
    </mat-form-field>

    <mat-form-field class="form__field" appearance="outline">
      <mat-label>Изображение</mat-label>
      <ngx-mat-file-input color="primary" formControlName="image" placeholder="Basic Input" ></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline"  class="form__field">
      <mat-label class="">Инструкция</mat-label>
      <textarea formControlName="instruction" matInput class="example-right-align"></textarea>
    </mat-form-field>

    <div class="ing" [formArrayName]="'ingredients'">
      <div class="ing__container" *ngFor="let ing of ingredients?.controls; let pointIndex=index"
           [formGroupName]="pointIndex ">
        <button mat-icon-button color="warn" class="ing__remove" (click)="deleteIngredient(pointIndex)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <mat-form-field appearance="outline" class="ing__field ing__field--name">
          <mat-label>Название индигриента</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="ing__field ing__field--amount">
          <mat-label>Количество</mat-label>
          <input matInput type="text" formControlName="amount">
        </mat-form-field>

        <mat-form-field appearance="outline" class="ing__field ing__field--unit">
          <mat-label>Еденица измерения</mat-label>
          <input matInput placeholder="Введите название рецепта" formControlName="unit">
        </mat-form-field>
      </div>
    </div>

    <div class="form__field form__field--button">
      <button mat-stroked-button  color="basic" (click)="addIngredient(); ">
        Добавить индигриент
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>

    <div class="footer">
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">
        Сохранить рецепт
      </button>
    </div>
  </form>
</div>
