<div class="header">
  <div class="header__nav-button nav-button">
    <button mat-mini-fab color="warn" (click)="onToggleMenu()" class="nav-button__btn">
      <mat-icon [class.active]="isOpenMenuButtonActive" class="nav-button__icon">menu_open</mat-icon>
    </button>
  </div>
  <div class="logo">
    <img class="logo__img" src="/assets/image/turbo-logo-medium.svg" alt="logo">
  </div>
  <div class="header__basket-button basket-button">
    <button mat-mini-fab color="warn" (click)="onToggleBasket()" class="basket-button__btn">
      <mat-icon class="basket-button__icon">shopping_cart</mat-icon>
    </button>
  </div>
</div>
