<div class="container types">
  <div class="types__item type breakfast" [routerLink]="['/recipes', recipeTypes.BREAKFAST]">
    <div class="type__title mat-display-2">ЗАВТРАКИ</div>
  </div>

  <div class="types__item type snacks" [routerLink]="['/recipes', recipeTypes.SNACKS]">
    <span class="type__title mat-display-2">ПЕРЕКУСЫ</span>
  </div>

  <div class="types__item type lunch" [routerLink]="['/recipes', recipeTypes.LUNCH]">
    <span class="type__title mat-display-2">ОБЕДЫ</span>
  </div>

  <div class="types__item type favorite" [routerLink]="['/recipes', generalGroupsNames.Favorites]">
    <span class="type__title mat-display-2"><mat-icon>favorite</mat-icon></span>
  </div>

  <div class="types__item type dinner" [routerLink]="['/recipes', recipeTypes.DINNER]">
    <span class="type__title mat-display-2">УЖИНЫ</span>
  </div>
</div>
