.container {
  width: 100%;
}

.types {
  height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: auto;
  grid-template-areas:
    "breakfast lunch dinner"
    "snacks  lunch dinner";

  @media screen and (max-width: 992px) {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "breakfast"
      "lunch"
      "dinner"
      "snacks";
  }

  &__item {
    width: 100%;
  }
}

.type {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 40%;
  color: #F5EFE8;

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    transition: opacity ease-in-out 0.2s;
  }

  &:hover:before {
    opacity: 0;
    transform:scale(1);
    filter:blur(0px);
  }

  &.breakfast {
    background-image: url("/assets/image/breakfast.jpg");
    grid-area: breakfast;
  }

  &.snacks {
    background-image: url("/assets/image/snacks.jpg");
    grid-area: snacks;
  }

  &.lunch {
    background-image: url("/assets/image/lunch.jpg");
    grid-area: lunch;
  }

  &.dinner {
    background-image: url("/assets/image/dinner.jpg");
    grid-area: dinner;
  }

  .type__title {
    z-index: 2;
    width: 100%;
    margin: 0 ;
    text-align: center;
    letter-spacing: 0;
    transition: letter-spacing 280ms ease-in-out;
  }

  &:hover .type__title,
  &:active .type__title {
    letter-spacing: 5px;
  }

  .type__title:after,
  .type__title:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }

  &:hover .type__title:after,
  &:hover .type__title:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 70%;
  }

  &:hover .type__title:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
}
