<mat-spinner *ngIf="!recipe"
             class="spiner">
</mat-spinner>
<div class="recipe-page" *ngIf="recipe">
  <div class="recipe-page__type mat-small mat-caption">
    - {{recipe.type}} -
  </div>

  <div class="recipe-page__name mat-h1 mat-display-1">
    {{recipe.name}}
  </div>

  <div class="recipe-page__image"
       [ngStyle]="{'background-image': backgroundImage}">
    <mat-spinner *ngIf="isImageLoading"
                 class="recipe-page__spiner">
    </mat-spinner>
  </div>

  <div class="recipe-page__edit">
    <button mat-mini-fab color="basic" (click)="onClickFavorite()">
      <mat-icon color="primary" *ngIf="!recipe.groups.includes(generalGroupsNames.Favorites)">favorite_border</mat-icon>
      <mat-icon color="primary" *ngIf="recipe.groups.includes(generalGroupsNames.Favorites)">favorite</mat-icon>
    </button>

    <button mat-mini-fab color="primary" [routerLink]="['/admin/edit-recipe', recipeID]">
      <mat-icon>edit_note</mat-icon>
    </button>
  </div>

  <div class="recipe-page__rating" [formGroup]="form">
    <app-rating-field
      formControlName="rating"
    >
    </app-rating-field>
  </div>

  <div class="recipe-page__ingredients mat-title">
    ИНГРЕДИЕНТЫ
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients" class="mat-body-strong mat-body-2">
        {{ingredient.name}} - {{ingredient.amount}}, {{ingredient.unit}}
      </li>
    </ul>
  </div>

  <div class="recipe-page__instruction mat-title">
    ИНСТРУКЦИЯ ПРИГОТОВЛЕНИЯ
    <p class="mat-body-strong mat-body-2">
      {{ recipe.instruction }}
    </p>
  </div>
</div>
