.container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  .aside {
    min-height: calc(100vh - 50px);
    background-color: #727E48;
    width: 250px;
  }

  .main {
    min-height: calc(100vh - 50px);
    background-color: #F5EFE8;
  }
}
