<div class="container">
  <header class="header">
    <app-header (clickMenuButton)="sidenav.toggle()"
                [isOpenMenuButtonActive]="asideMenuOpened">
    </app-header>
  </header>

  <mat-sidenav-container>
    <mat-sidenav #sidenav
                 mode="push"
                 [(opened)]="asideMenuOpened"
                 class="aside">
      <app-aside-menu></app-aside-menu>
    </mat-sidenav>

    <mat-sidenav-content class="main">

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
