.container {
  padding-top: 50px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  .header {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 50px;
    top: 0;
    left: 0;
  }

  .aside {
    min-height: calc(100vh - 50px);
    background-color: #727E48;
    width: 250px;
  }

  .main {
    min-height: calc(100vh - 50px);
    background-color: #F5EFE8;
  }

  .basket {
    z-index: 1;
    position: fixed;
    top: 82px;
    right: 16px;
    overflow: hidden;
    max-height: calc(100vh - 50px);
    width: 250px;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    transition: height ease-out 1s;

    @media screen and (max-width: 576px) {
      top: 49px;
      left: 0;
      width: 100%;
      max-height: 100vh;
    }
  }
}
