<div class="recipe" [class.inList]="recipe.isInList">
  <a class="recipe__left-side" [routerLink]="['/recipes/recipe', recipe.id]">
    <div class="recipe__image"  [ngStyle]="{'background-image': backgroundImage}">
      <mat-spinner color="gray" *ngIf="isImageLoading"></mat-spinner>
    </div>
  </a>

  <div class="recipe__right-side">
    <div class="recipe__row">
      <div class="recipe__right-item recipe__type mat-small mat-caption">
        - {{recipe.owner}} -
      </div>

      <div class="recipe__right-item recipe__favorites">
        <button
          (click)="onClickFavorite()"
          mat-icon-button
        >
          <mat-icon>
            {{recipe.groups?.includes('favorites') ? 'favorite' : 'favorite_border'}}
          </mat-icon>
        </button>
      </div>

      <div class="recipe__right-item recipe__ingredients">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Список продуктов">
          <mat-icon>format_list_numbered_rtl</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <ul class="recipe__ingredients-list">
            <li
              *ngFor="let ing of recipe.ingredientsList"
              [value]="ing"
              class="recipe__ingredients-item"
            >{{ing}}</li>
          </ul>
        </mat-menu>
      </div>
    </div>

    <div class="recipe__row">
      <a class="recipe__right-item recipe__title"
           [routerLink]="['/recipes/recipe', recipe.id]">
        <p>{{recipe.name}}</p>
      </a>
    </div>

    <div class="recipe__row">
      <div class="recipe__right-item recipe__rating">
        <div [appRatingStars]="recipe.rating" [maxRating]="maxRating"
             class="recipe__right-sub-item recipe__ratings">
        </div>
      </div>
    </div>

    <div class="recipe__row recipe__count-and-delete">
      <div
        *ngIf="!recipe.isInList"
        class="recipe__right-item recipe__add-button"
      >
        <button mat-flat-button color="primary" (click)="addToBasket()">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>

      <div
        *ngIf="recipe.isInList"
        class="recipe__right-sub-item recipe__count"
      >
        <mat-chip-list>
          <mat-chip  color="primary" (click)="decreaseCount()">
            <mat-icon>
              remove_circle_outline
            </mat-icon>
          </mat-chip>

          <mat-chip color="primary">{{recipe.count}}</mat-chip>

          <mat-chip  color="primary" (click)="increaseCount()">
            <mat-icon>
              control_point
            </mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>

      <button
        *ngIf="recipe.isInList"
        mat-icon-button
        color="warn"
        (click)="deleteFromBasket()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
