.recipe {
  display: flex;
  border-radius: 10px;
  height: 160px;
  overflow: hidden;
  background-color: #ffffff;

  .recipe__left-side {
    width: 40%;
    height: 100%;

    .recipe__image {
      background-color: #727E48;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;

    }
  }

  .recipe__right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 0 7px 7px;

    .recipe__row {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      overflow: hidden;
      position: relative;
    }

    .recipe__type {
      color: #C1C4C9;
      text-transform: capitalize;

    }

    .recipe__title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: #373A42;
      text-transform: uppercase;
      text-overflow: ellipsis;
      max-height: 50px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-decoration: none;
    }

    .recipe__type {
      display: flex;
      align-items: center;
      overflow: hidden;
      clip: unset;
      width: 100%;
      height: 40px;
    }

    .recipe__favorites {
      .mat-icon {
        color: #727E48;
      }
    }

    .recipe__ingredients {
      .mat-icon {
        color: #727E48;
      }

      ::ng-deep {
        .mat-menu-panel  {
          padding: 7px;
        }
      }
    }

    .recipe__rating {
      font-size: 15px;

      ::ng-deep {
        .rating-item {
          font-size: 17px;
          height: 15px;
          width: 15px;
        }

        .mat-icon {
          color: #727E48;
        }
      }
    }

    .recipe__add-button {
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .mat-button-base {
        width: 100%;
      }
    }

    .recipe__count-and-delete {
      justify-content: space-between;
    }

    .recipe__count {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .mat-icon {
        color: #727E48;
      }
    }
  }
}

.recipe__ingredients-list  {
  padding: 0 10px;
  list-style: disc inside;

  .recipe__ingredients-item {
    text-transform: capitalize;
  }
}
