html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
div {
  box-sizing: border-box;
}

.spiner {
  width: 100%;
  margin: 32px auto;
}
