.container {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

.recipes {
  position: relative;

  .recipes__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}


