.container {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

.recipes {
  position: relative;
  @media screen and (max-width: 637px) {
    width: 100%;
  }

  .recipes__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}


