.body {
  height: calc(100vh - 50px);
}

.content {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  height: calc(100vh - 50px);
}

.recipes {
  position: relative;
  @media screen and (max-width: 637px) {
    width: 100%;
  }

  .recipes__item {
    margin: 0 16px 16px;
  }
}

.basket {
  z-index: 1;
  position: fixed;
  top: 115px;
  right: 16px;
  overflow: hidden;
  max-height: calc(100vh - 50px);
  width: 250px;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  transition: height ease-out 1s;

  @media screen and (max-width: 1194px) {
    display: none;
  }
}



